@import url('https://fonts.googleapis.com/css?family=Merienda');
body {
    padding: 5px; 
    font-family: Merienda;
    background-color: #5d724c;
}
#header{
    text-align: center;
}
#clock{
    font-size: 3em; 
    text-align: center;
}
.wrapper{
    display: flex;
    justify-content: center;
}
.block{
    border: 1px solid black; 
    border-radius: 5px;
}
.listBlock{
    border: 1px solid black; 
    border-radius: 5px;
    overflow: hidden;
    height: 16em;
    width: 13em;
}
blockHeader{
    display: block;
    text-align: left;
}
.addBookmarkButton{
    float: right;
}
.list{
    display: block;
    text-align: left;
}
.listItem{
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}